@use 'variables' as _;
@import 'reset';
/* Bootstrap Icon */
@import url('https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css');

:root {
  --header-height: 72px;
}
* {
  box-sizing: border-box;
  color: nth(_.$gray, 10);
  letter-spacing: -0.02em;
}
html,
body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: 'Noto Sans KR';
  &::-webkit-scrollbar {
    display: none;
  }
}
body:has(#modal-root > *),
body:has(.select-option .show-list),
body:has(.header.full) {
  overflow: hidden;
}
.container {
  position: relative;
  padding-top: var(--header-height);
}
.bi {
  color: inherit;
  &::before {
    // vertical-align: baseline;
    // -webkit-text-stroke: 0.02em;
  }
}
input {
  &::placeholder {
    color: nth(_.$gray, 7);
  }
}
