@use 'variables' as _;

.header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;

  /* header toggle animation */
  .btn-search,
  .btn-change-address {
    opacity: 0.99;
    visibility: visible;
    transition: 0.2s;
  }
  .btn-menu {
    .icon-menu {
      display: block;
    }
    .icon-close {
      display: none;
    }
  }
  .fullHeader {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-100%);
    transition: 0.4s ease-in-out;

    nav > ul > li,
    &__downloadApp {
      opacity: 0;
      transform: translateY(-100%);
      transition-duration: 0.4s;
      transition-delay: 0s;
    }
  }
  &.full {
    .btn-search,
    .btn-change-address {
      opacity: 0 !important;
      visibility: hidden !important;
    }
    .btn-menu {
      .icon-menu {
        display: none;
      }
      .icon-close {
        display: block;
      }
    }
    .fullHeader {
      opacity: 0.99;
      visibility: visible;
      transform: translateY(0);
      nav > ul > li,
      &__downloadApp {
        opacity: 0.99;
        transform: translateY(0);
      }
      nav > ul > li {
        @for $i from 1 through 7 {
          &:nth-child(#{$i}) {
            transition-delay: ($i - 1) * 0.03s + 0.4s;
          }
        }
      }
      &__downloadApp {
        transition-delay: (8 - 1) * 0.03s + 0.4s;
      }
    }
  }
}

.fixedHeader {
  position: relative;
  z-index: 1000;
  background-color: #fff;
  &__content {
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__logo {
    height: 45%;
    svg {
      height: 100%;
    }
  }
  &__gnb {
    nav {
      > ul {
        display: flex;
        font-weight: 500;
        &:hover {
          > li:not(:hover) a {
            color: nth(_.$gray, 8);
          }
        }
        a {
          display: inline-block;
          padding: 13px 10px;
          transition: color 0.2s;
        }
      }

      .alba {
        position: relative;
        .icon-dropdown {
          color: nth(_.$gray, 8);
          margin-left: 3px;
        }
        ul {
          @include _.select-ul;
          position: absolute;
          top: 100%;
          width: max-content;
          font-weight: normal;
          font-size: _.rem(14px);
        }

        /* alba dropdown animation */
        ul {
          visibility: hidden;
          transform: translateY(-10%);
          opacity: 0;
          transition: all 0.2s;
          &:has(a:focus) {
            visibility: visible;
            transform: translateY(0);
            opacity: 0.99;
          }
        }
        &:hover,
        &:has(.btn-dropdown:focus) {
          ul {
            visibility: visible;
            transform: translateY(0);
            opacity: 0.99;
          }
        }
      }
    }
  }
  &__buttons {
    display: flex;
    gap: 8px;
    font-size: _.rem(14px);
    .icon-search {
      font-size: 1.5em;
    }
    .btn-menu {
      width: 30px;
      text-align: center;
    }
  }

  /* scroll animation */
  .btn-search {
    opacity: 0;
    visibility: hidden;
  }
  .btn-change-address {
    transform: translateX(40%);
  }
  &.scroll {
    .btn-search {
      opacity: 0.99;
      visibility: visible;
    }
    .btn-change-address {
      transform: translateX(0);
    }
  }
}

.fullHeader {
  position: absolute;
  top: 0;
  width: 100%;
  background-color: #fff;
  &__content {
    padding: var(--header-height) 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  &__gnb {
    margin-bottom: 50px;
    nav {
      > ul {
        > li {
          font-size: _.rem(20px);
          font-weight: 600;
        }
      }
      a {
        display: inline-block;
        width: 100%;
        padding: 15px 0;
        &:hover {
          color: nth(_.$gray, 9);
        }
      }
      .alba {
        > a {
          display: flex;
          justify-content: space-between;
        }
        li {
          font-size: _.rem(16px);
          color: nth(_.$gray, 9);
          font-weight: 500;
        }
        a {
          &:hover {
            color: nth(_.$gray, 8);
          }
        }

        /* alba toggle animation */
        ul {
          height: 0;
          transition: height 0.3s;
        }
        li {
          opacity: 0;
          visibility: hidden;
          transform: translateY(-20%);
          transition: 0.3s;
        }
        .icon-dropdown {
          rotate: 0deg;
          transition: rotate 0.2s;
        }
        &.open {
          ul {
            height: 186px;
          }
          li {
            opacity: 0.99;
            visibility: visible;
            transform: translateY(0);
            transition-duration: 0.4s;
            @for $i from 1 through 4 {
              &:nth-child(#{$i}) {
                transition-delay: ($i - 0) * 0.05s;
              }
            }
          }
          .icon-dropdown {
            rotate: 180deg;
          }
        }
      }
    }
  }
  &__downloadApp {
    p {
      margin-bottom: 15px;
    }
  }
}
